@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

body {
    /*font-family: 'DM Serif Display', serif;*/
    font-family: 'Jost', sans-serif;
    margin: 0;
    background-image: url(../img/line.svg);
    background-repeat-x: no-repeat;
    background-position: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0 45px 0;
}
.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}
.header__item {
    margin-left: 48px;
}
.header__item:last-child {
    margin-left: 30px;
}
.header__link {
    color: #292F36;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.header__link:hover {
    color: #CDA274;
}
.header__search {
    display: flex;
    padding: 0;
    background: transparent;
    border: none; 
    cursor: pointer; 
}
/*footer*/
.bg {
    background-color: #F4F0EC;
    padding: 50px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    display: flex;
    align-items: center;
    gap: 86px;
    font-size: 22px;
    color: #4D5053;
}
.footer__info a {
    color: #4D5053;
    text-decoration: none;
}
/*modal window*/
.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100vh;
}
