@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'DM Serif Display', serif;
    font-family: 'Jost', sans-serif;
    margin: 0;
    background-image: url(../img/line.svg);
    background-repeat-x: no-repeat;
    background-position: center;
}
p {
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
    margin: 0;
}
ul {
    margin: 0;
    list-style-type: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}
.header__item {
    margin-left: 48px;
}
.header__item:last-child {
    margin-left: 30px;
}
.header__link {
    color: #292F36;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.header__link:hover {
    color: #CDA274;
}
.header__search {
    display: flex;
    padding: 0;
    background: transparent;
    border: none; 
    cursor: pointer; 
}
/*footer*/
.bg {
    background-color: #F4F0EC;
    padding: 50px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    display: flex;
    align-items: center;
    gap: 86px;
    font-size: 22px;
    color: #4D5053;
}
.footer__info a {
    color: #4D5053;
    text-decoration: none;
}
/*modal window*/
.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100vh;
    transition: .3s;
}
.modal-search {
    background-color: #ffffff;
    padding: 47px 0;
}
.modal-search__content {
    display: flex;
    align-items: center;
    gap: 38px;
}
.modal-search__input {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 13px 0;
    transition: .3s;
}
.modal-search__input:focus {
    outline: none;
    border-bottom-color: #CDA274;
}
.modal-search__btn {
    background-image: url(../img/arrow-btn.svg);
    background-size: 6px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    border: 1px solid #CDA274;
    width: 52px;
    height: 52px;
}
.modal-search__close {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}
/*Hero*/
.hero__section {
    margin-bottom: 200px;
}
.hero {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 30vh;
    padding-top: 32vh;
    padding-bottom: 46vh;   
}
.hero__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.hero__title {
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 85px;
    font-weight: 400;
    line-height: 125%;
    max-width: 560px;
    margin: 0 0 9px 0;
}
.hero__text {
    color: #4D5053;
    font-family: Jost;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
    max-width: 560px;
    margin: 0;
}
/*About*/
.about__section {
    margin-bottom: 178px;
}
.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.about__box {
    max-width: 460px;
}
.title {
    max-width: 422px;
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1px;
    margin: 43px 0 33px 0;
}
.about__tel {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 45px 0 47px 0;
}
.about__btn {
    background-image: url(../img/Call.svg);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.about__thumb {
    flex-basis: 660px;
    position: relative;
    overflow: hidden;
    border-radius: 0 30vh 0 30vh;
    padding-top: 35vh;
    padding-bottom: 35vh;
    height: 26px;
}
.about__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}
.link {
    position: relative;
    color: #fff;
    padding: 26px 55px 26px 31px;
    border-radius: 18px;
    background: #292F36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%; 
    letter-spacing: 0.36px;
    margin-bottom: 43px;
}
.link::after {
    content: "";
    width: 17px;
    height: 16px;
    background: url(../img/strelka.svg)no-repeat;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    overflow: hidden;
}
.swiper {
    width: 100%;
    height: 674px;
    flex-shrink: 0;
    background-color: #F4F0EC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 70px;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.title__slide {
    margin: 88px 0;
    max-width: 750px;
}
.swiper-text {
    margin-top: 27px;
    color: #292F36;
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    font-style: italic;
    line-height: 125%; /* 43.75px */
    letter-spacing: 0.7px;
    max-width: 750px;
}
.swiper-author {
    margin-top: 34px;
    font-family: Jost;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 37.5px */
    letter-spacing: 0.25px;
}
.swiper-button-next::after {
    content: "";
    background-image: url(../img/swiperright.svg);
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -4px;
    right: 92px;
    font-size: 20px;
}
.swiper-button-prev::after {
    content: "";
    background-image: url(../img/swiperleft.svg);
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -4px;
    left: 92px;
}
.brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 178px 0;
}
.stats__section {
    width: 100%;
    background-color: #F4F0EC;
    margin-bottom: 178px;
    padding: 150px 0;
}
.stats__list {
    display: flex;  
}
.stats__item {
    position: relative;
    text-align: center;
    flex-basis: 25%;
}
.stats__item::after {
    content: ""; 
    display: block;
    width: 1px;
    height: 130px;
    background: #CDA274;
    position: absolute;
    right: 0;
    top: 6px;
}
.stats__item:last-child:after {
    display: none;
}
.stats__title {
    color: #CDA274;
}