@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

body {
    /*font-family: 'DM Serif Display', serif;*/
    font-family: 'Jost', sans-serif;
    margin: 0;
    background-image: url(../img/line.svg);
    background-repeat-x: no-repeat;
    background-position: center;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0 45px 0;
}
.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}
.header__item {
    margin-left: 48px;
}
.header__item:last-child {
    margin-left: 30px;
}
.header__link {
    color: #292F36;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.header__link:hover {
    color: #CDA274;
}
.header__search {
    display: flex;
    padding: 0;
    background: transparent;
    border: none; 
    cursor: pointer; 
}
/*footer*/
.bg {
    background-color: #F4F0EC;
    padding: 50px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__info {
    display: flex;
    align-items: center;
    gap: 86px;
    font-size: 22px;
    color: #4D5053;
}
.footer__info a {
    color: #4D5053;
    text-decoration: none;
}
/*modal window*/
.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    height: 100vh;
    transition: .3s;
}
.modal-search {
    background-color: #ffffff;
    padding: 47px 0;
}
.modal-search__content {
    display: flex;
    align-items: center;
    gap: 38px;
}
.modal-search__input {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 13px 0;
    transition: .3s;
}
.modal-search__input:focus {
    outline: none;
    border-bottom-color: #CDA274;
}
.modal-search__btn {
    background-image: url(../img/arrow-btn.svg);
    background-size: 6px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    border: 1px solid #CDA274;
    width: 52px;
    height: 52px;
}
.modal-search__close {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;
}